{% extends 'nippo/main.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-3">
    <form method="POST" action="" class="card p-3 m-1" autocomplete="off" novalidate>
        {% csrf_token %}
            <div class="form-label">
                {{form.topic|as_crispy_field}}
                {{form.content|as_crispy_field}}
                {{form.report|as_crispy_field}}
                {{form.comment|as_crispy_field}}
            </div>
        <button type="submit" class="btn btn-outline-primary mt-1" style="width: 100px;">Submit</button>
    </form>
</div>

{% endblock %}